.custom-border{
    border-width: 3px;
    border-color: purple;
    border-style: solid;
    border-radius: 1.875rem 0;
}
.custom-font{
    font-family: 'Foco', sans-serif;
    font-size: 2rem;
    text-align: left;
    color: #151515;
    opacity: 1;
    line-height: 1; 
}
.product-image {
    max-width: 100%;
}
.pname{
    font-size: 22px;
    font-weight: 600px;
    margin-top: 40px;
}
.price{
    font-size: 20px;
    font-weight: 400px;
    margin: 15px 0;
}
.quantity{
    display: flex;
}
.quantity p{
    font-size: 18px;
    font-weight: 500px;
}
.quantity input{
    font-size: 17px;
    height: fit-content;
    width: 50px;
    font-weight: 500px;
    margin-left: 15px;
    text-align: center;
}
.btn-box{
    display: flex;
    margin: 30px 0;
}
.btn-box button{
    font-size: 18px;
    padding: 8px 25px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
}
.cart-btn{
    background-color: #ff5e00;
    margin-right: 10px;
    border-radius: 1.875rem 0;
}
.cart-btn:hover{
    background-color: #ff3c00;
}
.buy-btn{
    background-color: #00aeff;
    border-radius: 1.875rem 0;
}
.buy-btn:hover{
    background-color: #0066ff;
}